{{> header}}
<center><h2 style="color:#5D8BF4">{{viewTitle}}</h2></center>
<table class="table" border="1">
    <thead style="color:#5D8BF4">
        <th scope="col">ID Diagnostico </th> 
        <th scope="col">ID Paciente </th>
        <th scope="col">Diagnostico </th>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.idDiag}}</td> 
                <td>{{this.idpaciente}}</td>
                <td>{{this.diag}}</td>

                <td>
                    <a href="/diagnostico/{{this._id}}">Edit</a>
                    <a href="/diagnostico/delete/{{this._id}}"
                    onclick="return confirm('Estas seguro de eliminar?');">
                    Eliminar
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>