{{> header}}
<center><h2 style="color:#5D8BF4">{{viewTitle}}</h2></center>
<table class="table" border="1">
    <thead style="color:#5D8BF4">
        <th scope="col">ID</th>
        <th scope="col">Nombres Completo</th>
        <th scope="col">Apellisdos Completo</th>
        <th scope="col">DUI</th>
        <th scope="col">Descripción del Paciente</th>
        <th scope="col">Nombre del Doctor</th>
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.idpaciente}}</td>
                <td>{{this.nombrepaciente}}</td>
                <td>{{this.apellidopaciente}}</td>
                <td>{{this.dui}}</td>
                <td>{{this.diagnostico}}</td>
                <td>{{this.nombredoctor}}</td>

                <td>
                    <a href="/paciente/{{this._id}}">Actualizar</a>
                    <a href="/paciente/delete/{{this._id}}"
                    onclick="return confirm('Estas seguro de eliminar?');">
                    Eliminar
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>