{{> header}}
<center><h2 style="color:#5D8BF4">{{viewTitle}}</h2></center>
<table class="table" border="1">
    <thead style="color:#5D8BF4">
        <th scope="col">ID Medicamento</th>
        <th scope="col">ID Paciente</th> 
        <th scope="col">Nombre Medicamento</th>
        <th scope="col">Fecha de Receta</th>    
    </thead>
    <tbody>
        {{#each list}}
            <tr>
                <td>{{this.idmedi}}</td>
                <td>{{this.idpaciente}}</td>
                <td>{{this.namemedi}}</td>
                <td>{{this.recetaDate}}</td>
                

                <td>
                    <a href="/medicamento/{{this._id}}">Edit</a>
                    <a href="/medicamento/delete/{{this._id}}"
                    onclick="return confirm('Estas seguro de eliminar?');">
                    Eliminar
                    </a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>